#videos{
    display: flex;
    justify-content: space-between;
    width: 65%; 
    height: 270px;
    padding: 10px;
}
.video1{
border: 1px solid silver;
border-radius: 10px;
margin: 6px;
}

.video2{
    border: 1px solid silver;
    border-radius: 10px;
    margin: 6px;
    }
    .video3{
        border: 1px solid silver;
        border-radius: 10px;
        margin: 6px;
    }

